@font-face {
    /* DEFININDO UMA FONTE PERSONALIZADA */
    font-family: CarvingSoft;
    src: url(fontes/MADECarvingSoftPERSONALUSE-SemiBold.otf);
}

/* RESETANDO PADRÕES E DEFININDO UMA FONTE GLOBAL */
* {
    font-family: CarvingSoft;
    margin: 0;
}

a {
    /* REMOVENDO SUBLINHADO E COR */
    text-decoration: none;
    color: inherit;
}

    /* CONFIGURAÇÕES DO CABEÇALHO */
header {
    text-align: center;
    align-content: center;
    margin: 0;
    height: 140px;
    background-color: #ff86b6; /* COR DE FUNDO ROSA */
    display: flex;
    flex-wrap: wrap; /* PERMITE QUE O CONTEÚDO SE AJUSTE */
}

header h1 {
    /* ESTILO DO TÍTULO PRINCIPAL NO HEADER */
    color: #b6285e;
    font-size: 225%;
}

.cabeca{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cabeca div{
    height: 100%;
    justify-content: center;
}

.logo{
    width: 25%;
}

.logo img{
    width: 20%;
}

.htitle {
    /* ÁREA DO TÍTULO NO CABEÇALHO */
    height: 75%;
    align-content: center;
    width: 50%;
}

.bruh{
    width: 25%;
}

.hnav {
    /* ÁREA DE NAVEGAÇÃO NO CABEÇALHO */
    display: flex;
    height: 30%;
    width: 100%;
}

/* ESTILIZAÇÃO DO NAV (MENU DE NAVEGAÇÃO) */
nav {
    width: 100%;
    align-self: flex-end; /* POSICIONA AO FINAL DO HEADER */
    background-color: #b6285e;
    height: 35px;
    align-content: center;
}

nav ul {
    /* CONFIGURAÇÃO DA LISTA DE NAVEGAÇÃO */
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

nav ul li {
    /* ESTILO DOS ITENS DO MENU */
    display: inline;
    color: white;
    font-size: 130%;
    width: 20%;
}

nav ul li:hover {
    /* EFEITO HOVER NOS LINKS DO MENU */
    text-decoration: underline white;
    cursor: pointer;
}

/* ESTILIZAÇÃO DO MAIN */
main {
    background-color: #ffdae0; /* COR DE FUNDO CLARA */
    padding-top: 5%;
    padding-bottom: 5%;
}

.formulatitle {
    /* TÍTULO DA SEÇÃO DO FORMULÁRIO */
    width: 100%;
    text-align: center;
    color: #b6285e;
}

.formula {
    /* CENTRALIZA O FORMULÁRIO */
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%);
}

.verde {
    /* CLASSE PARA TEXTO VERDE */
    color: rgb(12, 129, 12);
}

.vermelho {
    /* CLASSE PARA TEXTO VERMELHO */
    color: rgb(253, 20, 20);
}

.questionario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.questionario h2 {
    /* TÍTULOS DO QUESTIONÁRIO */
    color: #b6285e;
}

form {
    /* FORMULÁRIO CENTRALIZADO */
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-content: space-around;
}

.questao {
    /* ESTILO PARA CADA QUESTÃO */
    width: 100%;
    margin-bottom: 5%;
    background-color: #ff86b6;
    border: #b6285e;
    border-style: dotted;
    border-radius: 1vh;
    padding: 5%;
}

.questao input {
    /* CONFIGURAÇÃO DOS INPUTS */
    font-size: 200%; /* TAMANHO MAIOR */
    scale: 200%; /* DUPLICA A ESCALA */
}

.resposta {
    margin-left: 3%;
}

.qinfo {
    /* SEÇÃO DE INFORMAÇÕES DO QUESTIONÁRIO */
    text-align: center;
}

.qinfo h2 {
    font-size: 200%; /* TAMANHO DO TÍTULO */
}

.qinfo p {
    font-size: 150%; /* TAMANHO DO TEXTO */
}

.rescor {
    /* SEÇÃO DE RESULTADOS E CORES */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rescor div {
    width: 45%;
}

.qres {
    /* RESULTADOS INDIVIDUAIS */
    margin-top: 5%;
}

.qres div {
    /* ESTILO DOS BLOCOS DE RESULTADO */
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.qres div {
    width: 100%;
    font-size: 125%;
}

.correcao {
    /* SEÇÃO DE CORREÇÃO */
    margin-top: 5%;
    font-size: 125%;
    text-align: center;
    align-content: center;
}

.correcao p {
    width: 100%;
}

.linha {
    /* LINHA VERTICAL DIVISÓRIA */
    border-left: 0.4vh dotted #b6285e;
}

.butao {
    /* SEÇÃO DE BOTÕES */
    width: 100%;
    text-align: center;
}

button {
    /* ESTILO DOS BOTÕES */
    border: 2px solid black;
    background-color: #ff86b6;
    margin-top: 5%;
    padding: 25px;
    width: 350px;
    height: 87px;
    border-radius: 25px;
    font-size: 25px;
}

button:hover {
    /* EFEITO HOVER NOS BOTÕES */
    cursor: pointer;
    transition: 0.10s;
    background-color: #ff4b90;
    scale: 105%;
}

footer {
    /* ESTILO DO RODAPÉ */
    background-color: #ff86b6;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer h1 {
    font-size: 35px;
    text-align: center;
}

footer ul {
    /* LISTA NO RODAPÉ */
    font-size: 25px;
    text-align: left;
    padding-left: 45%;
    margin-top: 0;
    margin-bottom: 0;
}

footer h1, ul {
    color: black;
}

footer ul li:hover {
    /* EFEITO HOVER NOS ITENS DO RODAPÉ */
    scale: 105%;
    cursor: pointer;
    transition: 0.10s;
}

footer img {
    /* IMAGENS NO RODAPÉ */
    width: 400px;
}

.footer_ {
    /* LAYOUT DO RODAPÉ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ul_ {
    /* REMOVENDO ESTILO PADRÃO DA LISTA */
    list-style: none;
    padding-left: 0;
    font-size: 25px;
}

.img_ {
    /* ESTILO DAS IMAGENS NO RODAPÉ */
    margin: 5px;
    width: 100px;
}

.img_:hover {
    /* EFEITO HOVER NAS IMAGENS */
    scale: 110%;
    cursor: pointer;
    transition: 0.2s;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1200px) {
    form{
        width: 80%;
    }
    
    .linha{
        display: none;
    }
}

