@font-face {
    font-family: mainfont;
    src: url(fontes/MADECarvingSoftPERSONALUSE-SemiBold.otf);
}

*{
    font-family: mainfont;
}

h1{
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    margin: 0;
}

body{
    margin: 0;
}

header{
    text-align: center;
    align-content: center;
    margin: 0;
    height: 140px;
    background-color: #ff86b6;
    display: flex;
    flex-wrap: wrap;
}

header h1{
    color: #b6285e;
    font-size: 225%;
}

header div{
    width: 100%;
}

.htitle{
    height: 75%;
    align-content: center;
}

.hnav{
    display: flex;
    height: 25%;
}

nav{
    width: 100%;
    align-self: flex-end;
    background-color: #b6285e;
    height: 35px;
    align-content: center;
}

nav ul {
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

nav ul li {
    display: inline;
    color: white;
    font-size: 130%;
    width: 20%;
}

nav ul li:hover{
    text-decoration: underline white;
    cursor: pointer;
}

main{
    background-color: lightgray;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ffdae0;
}

.formulatitle{
    width: 100%;
    text-align: center;
}

.formula{
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%);
}

.verde{
    color: green;
}

.vermelho{
    color: #c80b0b;
}

.questionario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-content: space-around;
}

.questao{
    width: 100%;
    margin-bottom: 5%
}

.questao input{
    font-size: 200%;
    scale: 200%;
}

.resposta{
    margin-left: 3%;
}

.qinfo{
    text-align: center;
}

.qinfo h2{
    font-size: 200%;
}

.qinfo p{
    font-size: 150%;
}

.rescor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rescor div{
    width: 45%;
}

.qres{
    margin-top: 5%;
}

.qres div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.qres div{
    width: 100%;
    font-size: 125%;
}

.correcao{
    margin-top: 5%;
    font-size: 125%;
    text-align: center;
    align-content: center;
}

.correcao p{
    width: 100%;
}

.linha{
    border-left: 0.4vh solid black;
}

.butao{
    width: 100%;
    text-align: center;
}

button{
    width: 20%;
    height: 10vh;
    margin-top: 5%;
    font-size: 200%;
    border: 0.4vh solid black;
    border-radius: 2vh;
    background-color: #ff86b6;
}

button:hover{
    background-color: #ff4b90;
    scale: 110%;
    cursor: pointer;
    transition: 0.15s;
}

footer{
    background-color: #ff86b6;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer h1{
    font-size: 35px;
    text-align: center;
}

footer ul{
    font-size: 25px;
    text-align: left;
    padding-left: 45%;
    margin-top: 0;
    margin-bottom: 0;
}

footer ul li{
    text-align: left;
}

footer ul li:hover{
    scale: 110%;
    cursor: pointer;
    transition: 0.2s;
}

footer img{
    width: 400px;
}

.footer_{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ul_{
    list-style: none;
    padding-left: 0;
}

.img_{
    width: 100px;
}

.img_:hover{
    scale: 110%;
    cursor: pointer;
    transition: 0.2s;
}




