@font-face {
    font-family: CarvingSoft;
    src: url(fontes/MADECarvingSoftPERSONALUSE-SemiBold.otf);
}
*{
    margin: 0;
    font-family: CarvingSoft;
}

header{
    text-align: center;
    height: 90px;
    background-color: #ff86b6;
}
main{
    text-align: center;
    background-color: #ffdae0;
}
footer{
    background-color: #ff86b6;
}
input{
    border: 2px solid black;
    width: 300px;
    padding: 25px;
    border-radius: 5px;
    font-size: 25px;
}
button{
    border: 2px solid black;
    background-color: #ff86b6;
    padding: 25px;
    width: 350px;
    height: 87px;
    border-radius: 10px;
    font-size: 25px;
}
button:hover{
    cursor: pointer;
    transition: 0.25s;
    background-color: #ff4b90;
}

img{
    width: 400px;
}
.rchrd_prc{
    width: 200px;
}

.header_{
    height: 90px;
    text-decoration: underline 2.5px;
    text-decoration-color: #b6285e;
}

.box_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    border-radius: 5px;
    padding: 25px;
    background-color: #ff86b6;
    margin: 25px;
    border: #b6285e;
    border-style: dotted;
    width: 1600px;
}

p{
    font-size: 25px;
    color: white;
}

h1{
    font-size: 35px;
    color: #b6285e;
    text-align: center;
}

.card_{
    padding: 100px;
    width: 1000px;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul{
    font-size: 25px;
    color: #b6285e;
    text-align: left;
    padding-left: 45%;
}

table {
    border-collapse: collapse;
    width: 82%;
}
table td, table th {
    border: 2px solid black;
    padding: 8px;
}
tr{
    font-size: 25px;
    color: white;
    background-color: #ff86b6;
}
tr:nth-child(even){
    background-color: #ff4b90;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff4b90; 
    color: white;
}

.footer_{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ul_{
    list-style: none;
    padding-left: 0;
}
.img_{
    width: 100px;
}

.inpt{
    margin: 25px;
}

