@font-face {
    font-family: CarvingSoft;
    src: url(fontes/MADECarvingSoftPERSONALUSE-SemiBold.otf);
}
*{
    margin: 0;
}
body{
    font-family: CarvingSoft;
}
header{
    background-color: #bb0048;
}
main{
    text-align: center;
    background-color: #EB3678;
}
.main1{
    padding: 25px;
}
footer{
    background-color: #bb0048;
}
input{
    width: 200px;
    padding: 15px;
    border: none;
    font-size: 15px;
}
button{
    background-color: lime;
    border: none;
    padding: 15px;
    width: 225px;
    border-radius: 5px;
    font-size: 15px;
}
button:hover{
    cursor: pointer;
    transition: 0.25s;
    background-color: blue;
}
.redbtn{
    width: 100px;
}
.redbtn:hover{
    filter: grayscale(50%);
    transform: scale(0.95);
}
img{
    width: 400px;
}
.rchrd_prc{
    width: 200px;
}

.box_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    padding: 10px;
    background-color: #ff4590;
    border-color: blue;
    border-style: dotted;
    margin: 20px;
    width: 600px;
    height: 600px;
    text-align: center;
}

p{
    color: lime;
}

h1{
    color: rgb(88, 24, 0);
}

.tlte{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

#tab{
    margin-left: 50%;
    transform: translate(-50%);
}
tr{
    color: cyan;
    background-color: blue;
}